extends layout

block main
    header.page-header
        h1.page-title Результаты поиска по запросу "#{query}"
        a(href='/create').btn.btn-primary Создать

    div.row
        div.col
            if snippets.length
                div.list-group
                    for snippet in snippets
                        a(href=`/${snippet.id}`).list-group-item.list-group-item-action.flex-column.align-items-start
                            div.d-flex.w-100.justify-content-between
                                h6.mb-1= snippet.filename
                                small.text-muted= moment(snippet.date).fromNow()
                            p.text-muted.mb-1= snippet.description
            else
                p Сниппетов по запросу не найдено
                a.btn.btn-secondary(href='/') Назад